<style>
	body {
		background-color: LightGrey;
	}
	h1, h2.kiu {
		color: blue;
		font-family: Verdana;
	}
	p {
		background-color: black;
		color: white;
		width: 200px;
		padding: 30px;
	}
</style>

<h1>About</h1>

<h2>This is about us..</h2>

<p>
	We are a small team of passionate programmers just waiting to get your best projects up and running ! ;)
</p>

<%= link_to 'Home', root_path %>