<style>
	body {
		background-color: LightGrey;
	}
	h1, h2.kiu {
		color: blue;
		font-family: Verdana;
	}
	p {
		background-color: black;
		color: white;
		width: 200px;
		padding: 30px;
	}
</style>

<h1>Home</h1>

<h2>Welcome to you!</h2>

<p>
	We simply hope you enjoy being around here and having a great time until you get out ! :)
</p>

<%= link_to 'About', about_path %>